<?xml version="1.0"?>
<phpunit
	bootstrap="tests/phpunit-bootstrap.php"
	cacheResultFile=".cache/.phpunit.result.cache"
	backupGlobals="false"
	colors="true"
>
	<php>
		<env name="WP_PHPUNIT__TESTS_CONFIG" value="tests/wp-tests-config.php" />
		<env name="WP_PHPUNIT__TABLE_PREFIX" value="tests_" />
	</php>
	<testsuites>
		<testsuite name="plugin">
			<directory suffix="-test.php">tests/phpunit</directory>
		</testsuite>
	</testsuites>
	<coverage processUncoveredFiles="true" cacheDirectory=".cache/phpunit-coverage">
		<include>
			<directory suffix=".php">php</directory>
			<file>block-context.php</file>
		</include>
		<report>
			<cobertura outputFile="tests/coverage/phpunit-cobertura.xml" />
			<php outputFile="tests/coverage/phpunit.cov" />
			<text outputFile="tests/coverage/phpunit.txt" />
		</report>
	</coverage>
</phpunit>
