<phpunit
	colors="true"
	bootstrap="php/Tests/bootstrap.php"
	>
	<testsuites>
		<testsuite name="Unit Tests">
			<directory>php/Tests/Unit</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">php</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-clover" target="php/Tests/_logs/clover.xml" />
	</logging>
</phpunit>
